<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

<% include ../partials/nav.ejs %>

<div class="container">
<h2>App Notifications</h2>

<ul>
    <% results.forEach(function(r) { %>
        <li><%= r.due %> | <%= r.id %> | <%= r.sentence %> | <%= r.font_color %> | <img src="<%= r.image_vertical_path %>" width="50"> | <img src="<%= r.image_horizontal_path %>" width="50">  </li>
    <% }); %>
</ul>

<h2>Add sentence and 2 images:</h2>
<form ref='uploadForm' 
			id='uploadForm' 
			action='/upload-notifications' 
			method='post' 
      encType="multipart/form-data">
      <label>Sentence:</label><input type="text" name="sentence" /><br>
      <label>Vertical image:</label> <input type="file" name="v_image" /><br>
      <label>horizontal image:</label> <input type="file" name="h_image" /><br>
      <label>font color:</label> <input type="text" name="font_color" /><br>
      <input type="date" name="date"><br>
				<input type='submit' value='Upload!' />
</form>	
    


</div>



 <!--Data:
bde_initial
id serial
sentense text
image_path


bde
id serial
sentense text
vertical_image_path
horizontal_image_path
 -->
</body>
</html>



